# ValidationResults

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**results** | [**dict(str, ValidationResult)**](ValidationResult.md) | A map of validation results by component | 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


