# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**errors** | [**list[ErrorInfo]**](ErrorInfo.md) | Validation Errors | [optional] 
**warnings** | [**list[WarningInfo]**](WarningInfo.md) | Validation Warnings | [optional] 
**format_warnings** | [**list[WarningInfo]**](WarningInfo.md) | Format Warnings | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


