
# ValidationResults

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**results** | [**Map&lt;String, ValidationResult&gt;**](ValidationResult.md) | A map of validation results by component | 



