
# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**errors** | [**List&lt;ErrorInfo&gt;**](ErrorInfo.md) | Validation Errors |  [optional]
**formatWarnings** | [**List&lt;WarningInfo&gt;**](WarningInfo.md) | Format Warnings |  [optional]
**warnings** | [**List&lt;WarningInfo&gt;**](WarningInfo.md) | Validation Warnings |  [optional]



